Ankama
Ankama Launcher
BraveSoftware
GIMP
Proton
Signal
VirtualBox
fontforge
gurk
lftp
libvirt
menus
mpv
procps
themes
qtvirtual*
unity*
inkscape
zaap
go
glib*
goa*
ibus
keepassxc
libreoffice
wireshark
xdg*
xfce*
xsettings*
obsidian
cosmic
superfile
coc
obs-studio
kitty.bak*
alacritty.bak*
