@import "/home/eluciani/.cache/wal/colors-waybar.css";

* {
    all: unset;
    font-size: 12px;
    font-family: JetBrainsMono NerdFont;
    font-weight: 600;
}

window {
    color: @foreground;
    background: @background;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 15px;
}

/* Workspaces */
#workspaces button {
    /* 3px padding because of 3px border-bottom */
    padding: 3px 5px 0 5px;
    /*border-bottom: 3px solid rgba(255, 255, 255, 0.2); */
    border-bottom: 3px solid @color8;
    transition: all ease .2s;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid @color3;
    transition: all ease .2s;
}

#workspaces button.focused {
    color: @background;
    background: @color3; 
    transition: all ease .2s;
    border-bottom: 3px solid @color3;
}

#workspaces button.empty {
    border-bottom: 3px solid transparent;
    transition: all ease .2s;
}

/* Idle Inhibitor */
#idle_inhibitor {
    color: @color1;
}

/* Taskbar */
#taskbar button {
    /* 3px padding because of 3px border-bottom */
    padding: 3px 5px 0 5px;
    border-bottom: 3px solid transparent;
    transition: all ease .2s;
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid @color3;
    transition: all ease .2s;
}

/* Crypto */
#custom-crypto {
    color: @color0;
}

/* MPRIS */
#mpris {
    /* color: rgba(255, 255, 255, 0.3); */
    color: @color8;
}

/* Custom */
#custom-logo {
    color: @color3;
    font-size: 16px;
}

#custom-separator {
    /* color: rgba(255, 255, 255, 0.2); */
    color: @color8;
}

/* CPU */
#cpu {
    color: @color3;
}

/* RAM */
#memory {
    color: @color6;
}

.custom-hearts-icons {
    color: red;
}

/* Tooltip */
tooltip {
    background: @background;
}

tooltip label {
    color: @foreground;
    padding: 5px;
}
